.UpdateProfile {
  width: 60%;
  margin: auto;
  text-align: center;
  animation-name: updateProfile;
  animation-duration: 0.2s;
}
@keyframes updateProfile {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.Card {
  margin-top: 10px;
  width: 100%;
}
.Img,
.UserIcon {
  margin: auto;
}
.Img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.CardBody {
  text-align: left;
  padding: 10px;
}
.UserIcon {
  width: 150px;
  height: 150px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
button {
  width: 20%;
}
.ChooseFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ChooseFile input {
  width: 0%;
  height: 0px;
  visibility: hidden;
}
.Alert {
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background: #00d6e6;
  color: white;
  animation-name: alert;
  animation-duration: 1s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
@keyframes alert {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0px;
  }
}
.UploadBtn {
  background-color: #343a40;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  outline: none;
  transition: 0.3s;
}
.UploadBtn:disabled {
  background-color: #7d7d7ea4;
  border-radius: 20px;
  color: #ccc;
  width: 120px;
}
.UploadBtn:hover {
  background-color: rgb(0, 181, 253);
  color: black;
  outline: none;
}
.UploadBtn:active {
  outline: none;
}
.UpdateBtn {
  margin: 0;
  display: flex;
  justify-content: center;
}
.UpdateBtn button {
  font-weight: bold;
  padding: 10px 45px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  outline: none;
  transition: 0.3s;
}
.UpdateBtn button:hover {
  outline: none;
}
.UpdateBtn button:active {
  outline: none;
}
.CardBody input,
.CardBody label {
  display: block;
  width: 100%;
}
.CardBody input {
  padding: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
.CardBody input:hover {
  outline: none;
}
.CardBody input:active {
  outline: none;
  box-shadow: none;
}
@media only screen and (max-width: 425px) {
  .UpdateProfile,
  .Card,
  .CardBody {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  button {
    width: 60%;
  }
}
