.UserProfile {
  width: 60%;
  margin: auto;
  text-align: center;
  animation-name: userProfile;
  animation-duration: 0.2s;
}
@keyframes userProfile {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.Card {
  width: 100%;
  padding-top: 10px;
}
.Img,
.UserIcon {
  margin: auto;
}
.Img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.CardBody {
  padding: 10px;
}
.UserIcon {
  width: 150px;
  height: 150px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.NoPostsCard {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  overflow-wrap: anywhere;
}
.UpdateBtn {
  font-weight: bold;
  padding: 10px 45px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  outline: none;
  transition: 0.3s;
}
.TimeLine {
  padding: 10px;
}
.TimeLine h4 {
  padding: 10px;
  margin-top: -10px;
}
@media only screen and (max-width: 425px) {
  .UserProfile,
  .Card,
  .CardBody {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  .NoPostsCard {
    font-size: 20px;
  }
}
