.Container {
  padding: 10px;
  width: 60%;
  margin: auto;
}
.Post {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.NoPostsCard {
  margin-top: 60px;
  padding: 10px;
  font-size: 28px;
  font-family: cursive, Courier, monospace;
  text-align: center;
  overflow-wrap: anywhere;
  animation-name: nopost;
  animation-duration: 0.2s;
}
@keyframes nopost {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.Avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.PostForm {
  width: 100%;
  padding: 10px;
  align-items: center;
}
.PostForm form {
  display: flex;
  align-items: center;
  margin: auto;
}
.PostForm input {
  width: 80%;
  height: 50px;
  border: none;
  background-color: rgba(204, 204, 204, 0.178);
  padding: 20px;
  outline: none;
  border-radius: 20px;
}
.PostForm button {
  width: 20%;
  height: 50px;
  border: none;
  background-color: rgb(0, 238, 255);
  outline: none;
  font-size: 25px;
  border-radius: 20px;
}
@media only screen and (max-width: 425px) {
  .Container,
  .Post,
  .PostForm form {
    width: 100%;
    display: block;
  }
  .PostForm form {
    padding: none;
  }
  .PostForm form input,
  .PostForm form button {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .PostForm form input {
    height: 60px;
  }
  .Avatar {
    width: 100%;
    text-align: center;
  }
  .NoPostsCard {
    font-size: 20px;
  }
}
