@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
.ToggleBtn {
  margin: 0;
  margin-right: -10px;
}
.DropdownMenu {
  text-align: center;
  padding: 10px;
  width: 200px;
  position: absolute;
  margin-top: 6px;
  right: -12px;
  background-color: crimson;
  /* transition: width 0.3s, height 0.3s; */
  animation-name: dropdown;
  animation-duration: 0.3s;
}
@keyframes dropdown {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.DropdownMenu a,
.DropdownMenu button {
  color: white;
  padding: 15px;
}
.DropdownMenu a:hover,
.DropdownMenu button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.5s;
}
.DropdownMenu button:active {
  background: none;
  color: white;
}
/* .DropdownMenu:hover {
  width: 250px;
} */
.NavBarList {
  height: 100%;
  padding: 0;
  margin: 0;
}
.DropdownMenu button {
  background: none;
  width: 100%;
  border: none;
}
.NavBarList ul li {
  padding: 0;
  margin-top: -10px;
}
.NavBarList ul li span {
  color: white;
  font-size: 18px;
}
.NavBarList ul li a {
  padding: 0;
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.NavBarList ul li a:hover {
  color: aqua;
}

@media only screen and (max-width: 425px) {
  #NavToggle {
    right: 0;
  }
}
