@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Roboto+Slab&display=swap');
.Login {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    10deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(252, 0, 81, 1) 100%
  );
  height: 100%;
  overflow: scroll;
}
.UserIcon {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60px;
  margin: 0;
  box-shadow: '0 4px 8px 0 rgba(0,0,0,0.2)';
  animation: userIcon 4s infinite;
  /* animation-duration: 2s infinite; */
}
@keyframes userIcon {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
.Form {
  width: 30%;
  border: none;
  margin: auto;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Form label {
  width: 100%;
  border: none;
  color: white;
  animation-name: floatLabel;
  animation-duration: 1s;
}
@keyframes floatLabel {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(140%);
  }
  100% {
    transform: translateY(0%);
  }
}
.Form input {
  width: 100%;
  border: none;
  border-radius: 0;
  height: 50px;
  outline: none;
}
.Form input:focus {
  box-shadow: none;
}
.Header {
  text-align: center;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  animation-name: header;
  animation-duration: 2s;
  font-family: 'Baloo Da 2', cursive;
}
@keyframes header {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.Form button {
  width: 100%;
  border: 0;
  outline: none;
  cursor: pointer;
  height: 45px;
  background-color: rgba(252, 0, 81, 1);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
.havingError {
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  animation-name: error;
  animation-duration: 0.5s;
  font-family: 'Roboto Slab', serif;
}
@keyframes error {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.DontHaveAcc {
  text-align: center;
  padding: 20px;
  line-height: 30px;
}
.DontHaveAcc span a {
  color: rgba(252, 0, 81, 1);
  font-size: 18px;
  font-weight: bold;
}
.DontHaveAcc span a:hover {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 425px) {
  .Form {
    width: 100%;
  }
  .DontHaveAcc span a:hover {
    text-decoration: none;
  }
}
@media only screen and (max-width: 768px) {
  .Form {
    width: 100%;
  }
  .DontHaveAcc span a:hover {
    text-decoration: none;
  }
}
