.Post {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-wrap: anywhere;
  animation-name: post;
  animation-duration: 0.2s;
}
@keyframes post {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.Post img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.FirstDiv {
  float: left;
  width: 15%;
  position: relative;
  min-height: 140px;
  height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.SecondDiv {
  width: 75%;
  float: left;
  padding: 10px;
  position: relative;
  min-height: 140px;
  height: 100%;
}
.SecondDiv span {
  color: #ccc;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.SecondDiv p {
}
.SecondDiv span small {
  margin-left: 5px;
}
.TrashBtn {
  position: absolute;
  top: 0;
  width: 80px;
  right: 0;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px 0px 10px;
  background-color: rgba(255, 0, 0, 0.11);
}
.TrashBtn:focus {
  outline: none;
}
.Fiuser {
  font-size: 60px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.LikeBtn {
  width: 10%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  right: 5px;
}
.DisLike {
  font-size: 30px;
  color: red;
  position: absolute;
}
.Like {
  font-size: 30px;
  color: red;
  position: absolute;
}
@media only screen and (max-width: 425px) {
  .Post img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .FirstDiv {
    width: 25%;
    position: relative;
    min-height: 140px;
    height: 100%;
  }
  .SecondDiv {
    width: 75%;
    padding: 10px;
    position: relative;
    min-height: 140px;
    height: 100%;
  }
  .Fiuser {
    width: 60px;
  }
}
